@import "tailwindcss";

:root {
    /* --background: #ffffff; */
    /* --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--mantine-color-violet-5);
    font-family: Vazirmatn, Arial, Helvetica, sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.mantine-Container-root, .mantine-Center-root {
    min-height: 100vh;
}

.transparent-bg-icon {
  background: transparent !important;
  border: 0 !important;
}

.leaflet-tooltip {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: none !important;
  border-radius: 6px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6) !important;
  color: white !important;
  font-weight: 500 !important;
}

.leaflet-tooltip:before {
  border: none !important;
  box-shadow: none !important;
}

/* Also make sure the pane is on top */
.leaflet-tooltip-pane {
  z-index: 1000 !important;
}
